/* App main styles */
.app__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;

    background-color: #fff;
    border: 1px solid dodgerblue;
    margin: 3% auto;
    width: 60%;
    padding: 2% 0 0 0;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.main__heading {
    text-align: center;
    font-family: "Arial Rounded MT Bold";
    font-size: 2.5em;
    text-decoration: underline dodgerblue;
}

.input__wrapper {
    padding: 1% 0 5% 0;
}

.input__wrapper button {
    margin: 5% 0 0 0;
    padding: 1%;
}

.todo-list__wrapper {
    padding: 0 0 2% 0;
}

/* To-do List */
.todo-list__wrapper {

}

/* To-do item */
.todo-item__wrapper button {
    margin-left: 5px;
}

.todo-item__wrapper button:hover {
    color: #ff0000;
}

.todo-item__checkbox {

}

.todo-item__title {
    font-family: sans-serif;
}

