/* App main styles */
.app__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;

    background-color: lightgray;
}

.main__heading {
    text-align: center;
    font-family: "Arial Rounded MT Bold";
    font-size: 2.5em;
    text-decoration: underline dodgerblue;
}

/* To-do List */
.todo-list__wrapper {

}

/* To-do item */
.todo-item__wrapper {

}

.todo-item__checkbox {

}

.todo-item__title {
    font-family: sans-serif;
}

