//==== Fonts ====//
$main-font: "Roboto Light", sans-serif;
$list-font: "Helvetica", sans-serif;

//==== Colors ====//
$font-color: #000;
$elems-color: #2574d4;

//==== Margin ====//
$margin-ten: 10% 0 0 0;

